[submodule "avnet_end_to_end/AzureSphereDrivers"]
	path = avnet_end_to_end/AzureSphereDrivers
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDrivers.git
[submodule "avnet_end_to_end/HardwareDefinitions"]
	path = avnet_end_to_end/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_end_to_end_ext/HardwareDefinitions"]
	path = avnet_end_to_end_ext/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "avnet_end_to_end_ext/AzureSphereDrivers"]
	path = avnet_end_to_end_ext/AzureSphereDrivers
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDrivers.git
[submodule "device_twins/HardwareDefinitions"]
	path = device_twins/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "direct_methods/HardwareDefinitions"]
	path = direct_methods/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "hello_world/AzureSphereRemoteX"]
	path = hello_world/AzureSphereRemoteX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereRemoteX.Client.git
[submodule "hello_world/HardwareDefinitions"]
	path = hello_world/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "environment_logger/HardwareDefinitions"]
	path = environment_logger/HardwareDefinitions
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDevX.HardwareDefinitions.git
[submodule "environment_logger/AzureSphereRemoteX"]
	path = environment_logger/AzureSphereRemoteX
	url = https://github.com/Azure-Sphere-DevX/AzureSphereRemoteX.Client.git
[submodule "environment_logger/AzureSphereDrivers"]
	path = environment_logger/AzureSphereDrivers
	url = https://github.com/Azure-Sphere-DevX/AzureSphereDrivers.git
[submodule "avnet_end_to_end_ext/EdgeDevX"]
	path = avnet_end_to_end_ext/EdgeDevX
	url = https://github.com/Azure-Sphere-DevX/EdgeDevX.git
[submodule "device_twins/EdgeDevX"]
	path = device_twins/EdgeDevX
	url = https://github.com/Azure-Sphere-DevX/EdgeDevX.git
[submodule "direct_methods/EdgeDevX"]
	path = direct_methods/EdgeDevX
	url = https://github.com/Azure-Sphere-DevX/EdgeDevX.git
[submodule "avnet_end_to_end/EdgeDevX"]
	path = avnet_end_to_end/EdgeDevX
	url = https://github.com/Azure-Sphere-DevX/EdgeDevX.git
